@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* todo: fix accent-rich color */
    :root {
        /* background shades */
        --background-dimmed: 0 0 95%;
        --background: 0 0% 100%;
        --background-rich: 360, 0%, 80%;
        /* foreground shades */
        --foreground-dimmed: 0 0% 54%;
        --foreground: 0 0 30%;
        --foreground-rich: 0 0 0;
        /* emphasis shades */
        --emphasis-dimmed: 20 14.29% 4.12%;
        --emphasis: 24 9.8% 10%;
        --emphasis-rich: 30 6.25% 25.1%;
        /* accent shades */
        --accent-dimmed: 215 20% 65%;
        --accent: 0 0% 97%;
        --accent-rich: 210 40% 98%;
        --accent-foreground: 215 7% 61%;
        /* primary shades */
        --primary-dimmed: 224.28 76.33% 48.04%;
        --primary: 221.21 83.19% 53.33%;
        --primary-rich: 217.22 91.22% 59.8%;
        /* secondary shades */
        --secondary-dimmed: 85.87 78.42% 27.25%;
        --secondary: 84.8 85.23% 34.51%;
        --secondary-rich: 82.71 77.97% 55.49%;
        /* destructive shades */
        --error-dimmed: 0 73.71% 41.76%;
        --error: 0 72.22% 50.59%;
        --error-rich: 0 90.6% 70.78%;
        --error-foreground: 0 62.82% 30.59%;
        /* success shades */
        --success-dimmed: 142.43 71.81% 29.22%;
        --success: 142.13 76.22% 36.27%;
        --success-rich: 141.89 69.16% 58.04%;
        --success-foreground: 143.81 61.17% 20.2%;
        /* info shades */
        --info-dimmed: 201.27 96.34% 32.16%;
        --info: 200.41 98.01% 39.41%;
        --info-rich: 198.44 93.2% 59.61%;
        --info-foreground: 202.04 80.33% 23.92%;
        /* warning shades */
        --warning-dimmed: 35.45 91.67% 32.94%;
        --warning: 40.61 96.12% 40.39%;
        --warning-rich: 47.95 95.82% 53.14%;
        --warning-foreground: 28.42 72.52% 25.69%;
        /* warning shades */
        --neutral-dimmed: 200 17.65% 26.67%;
        --neutral: 199.09 12.36% 34.9%;
        --neutral-rich: 199.09 9.09% 47.45%;
        --neutral-foreground: 207.27 25.58% 8.43%;
        /* extras */
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 221.21 83.19% 53.33%;
        --radius: 0.5rem;
    }

    :root.dark {
        /* background shades */
        --background-dimmed: 0 0% 10%;
        --background: 136 0% 12%;
        --background-rich: 360 0% 20%;
        /* foreground shades */
        --foreground-dimmed: 0 0 80%;
        --foreground: 0 0% 90%;
        --foreground-rich: 44 0% 100%;
        /* emphasis shades */
        --emphasis-dimmed: 216 12.2% 83.92%;
        --emphasis: 0 0% 70%;
        --emphasis-rich: 0 0 100%;
        /* accent shades */
        --accent-dimmed: 360 0% 61%;
        --accent: 0 0% 20%;
        --accent-rich: 136 0% 18%;
        --accent-foreground: 4 0% 59%;
        /* extras */
        --border: 220 13% 25%;
        --input: 220 13% 25%;
        --ring: 221.21 83.19% 53.33%;
        --radius: 0.5rem;
    }
}

input[type="text"]::selection,
textarea::selection {
    -webkit-appearance: none;
}

input[type="text"]::-moz-selection,
textarea::-moz-selection {
    -webkit-appearance: none;
}

input[type="text"],
textarea {
    -webkit-appearance: none;
}

::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
}

.gradient-blur {
    position: fixed;
    z-index: 5;
    inset: auto 0 0 0;
    height: 128px;
    pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
    position: absolute;
    inset: 0;
}

.gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(0.5px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 37.5%
    );
}

.gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 0) 50%
    );
}

.gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%
    );
}

.gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%
    );
}

.gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%
    );
}

.gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0) 100%
    );
}

.gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
}

.gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    mask: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 87.5%,
            rgba(0, 0, 0, 1) 100%
    );
}
